<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MiscUtil" publicKeyToken="d3c42c4bfacf7596" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.0.0" newVersion="0.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
