<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ELFSharp" version="1.0.4" targetFramework="net452" />
  <package id="HashLib" version="2.0.1" targetFramework="net47" />
  <package id="JonSkeet.MiscUtil" version="0.1" targetFramework="net452" />
  <package id="libyara.NET" version="3.5.1" targetFramework="net452" />
  <package id="LinqOptimizer.CSharp" version="0.6.3" targetFramework="net461" />
  <package id="protobuf-net" version="2.3.0-alpha" targetFramework="net47" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net452" />
</packages>