<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net47" />
  <package id="Extended.Wpf.Toolkit" version="3.1" targetFramework="net47" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net47" />
  <package id="ImpromptuInterface.MVVM" version="4.0.13" targetFramework="net47" />
  <package id="MultiSelectTreeView" version="1.0.9" targetFramework="net47" />
  <package id="PropertyTools.Wpf" version="3.0.0-unstable0118" targetFramework="net47" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
</packages>